table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

th {

  background-color: #808692;
  color: white;

}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px;
  margin-left: 15%;
 

}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.parent-element-Post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  border-top: solid .5px;
  border-color: #d8d8fe;
}

.title-post {
  padding-top: 10px;
  width: 100%;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.body-post {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  padding: 0;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.title_fixed{
  width: 100%;
  text-align: center;
}
.back-sesion{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  
  margin-top: 2%;
  padding: 0;
}
